# test:
#   stage: test
#   script:
#   - apt-get update -qy
#   - apt-get install -y nodejs
#   - gem install bundler
#   - bundle config set path '/cache'
#   - bundle install
#   - bundle exec rake db:create RAILS_ENV=test
#   - bundle exec rake test

# production:
#   stage: deploy
#   script:
#   - gem install dpl
#   - dpl --provider=heroku --app=evening-sierra-34689 --api-key=$HEROKU_PRODUCTION_API_KEY
#   only:
#   - tags

image: ruby:2.6.5

cache:
  paths:
    - vendor/bundle
    - node_modules

services:
  - postgres:10.1

variables:
  BUNDLE_PATH: vendor/bundle
  DISABLE_SPRING: 1
  DB_HOST: postgres

before_script:
  - apt-get update -yq
  - apt-get install -y apt-transport-https build-essential cmake unzip
  - apt-get install -y postgresql postgresql-client libpq-dev
  - gem install bundler
  - bundle check || bundle install --jobs $(nproc)
  # - cp config/database.yml.ci config/database.yml
  - bundle exec rails db:create RAILS_ENV=test
  - bundle exec rails db:schema:load RAILS_ENV=test

stages:
  # - test
  - deploy

Tests:
  stage: test
  script:
    - bundle exec rspec


Deploy Production:
  stage: deploy
  retry: 2
  only:
    - master
  script:
    - ./bin/setup_heroku
    - dpl --provider=heroku --app=evening-sierra-34689 --api-key=$HEROKU_API_KEY
    - heroku run rake db:migrate --exit-code --app evening-sierra-34689
    - heroku run rake statics:seed --exit-code --app evening-sierra-34689
